html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #fafafa;
}

.banner {
  position: relative;
  width: 100%;
  height: 835px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  object-fit: cover;
  z-index: -1;
  animation: opacityBg 1s ease-in-out;
}

.container {
  position: relative;
  width: 1158px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sections {
  position: absolute;
  left: 42.5%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
  top: 37px;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out 1s forwards;
}

.section-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.section-link:hover {
  text-shadow: 0px 0px 1px #ffffff;
  transform: scale(1.03); /* Опционально, для увеличения размера */
}

.logo {
  margin-top: 30px;
  display: block;
  user-select: none;
  pointer-events: none;
  animation: slideDown 1s ease-in-out;
}

.text {
  margin-top: 137px;
  display: block;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out 1s forwards;
}

.auth-buttons {
  position: absolute;
  top: 24px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 16px;
  animation: slideDown 1s ease-in-out;
}

.register-button {
  position: relative;
  color: white;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.register-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.register-button:hover::after {
  width: 100%;
  left: 0;
}

.register-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.register-button:hover::before {
  transform: scaleX(1);
}

.login-button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 11px 24px;
  border: 2px solid white;
  border-radius: 30px;
  transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.7s ease,
    transform 0.3s ease;
}

.login-button:hover {
  background-color: #ffffff;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.white-block {
  width: 100%;
  height: 986px;
  background-color: #fafafa;
  margin: 0 auto;
  box-sizing: border-box;
}

.white-block h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 100px;
  color: #5e1136;
  top: 60px;
  margin-bottom: 0px;
  letter-spacing: 9px;
  animation: fadeInUp 1.5s ease-in-out;
}

.plashka {
  background-image: url(../images/Plashka.svg);
  width: 844px;
  height: 76px;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: slideInLeft 1.5s ease-in-out 1s forwards;
}

.plashka h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-left: 35px;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.line {
  margin-top: 72px;
  height: 10px;
  width: 70px;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 1s forwards;
}

.line-text {
  display: flex;
  gap: 42px;
}

.line-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin-top: 51px;
  color: black;
  margin-bottom: 42px;
  animation: fadeInUp 1.5s ease-in-out;
}

.groupFilms {
  width: 1128px;
  user-select: none;
  pointer-events: none;
  animation: zoomIn 1.2s ease-in-out;
}

.text-login {
  color: #808080;
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  animation: fadeInUp 1.5s ease-in-out;
}

.text-login1 {
  color: #808080;
  font-size: 25px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  animation: fadeInUp 1.5s ease-in-out;
}

.test-button {
  text-decoration: none;
  background-color: #e9738f;
  color: white;
  display: inline-block;
  padding: 25px 50px;
  font-size: 35px;
  margin-top: 40px;
  font-weight: bold;
  border-radius: 50px;
  animation: fadeIn 1s ease-in-out;
  transition: background-color 0.3s ease, box-shadow 0.7s ease,
    transform 0.3s ease;
}

.test-button:hover {
  background-color: #c9506c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* Эффект при нажатии */
.test-button:active {
  background-color: #a73b56;
  transform: scale(1); /* Сжатие при нажатии */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s ease, box-shadow 0.1s ease,
    transform 0.1s ease;
}

.center {
  margin-top: 40px;
  text-align: center;
}

.center1 {
  text-align: center;
}

.arrow-icon {
  transition: transform 0.6s ease;
  display: block; /* Убирает пробелы вокруг изображения */
  margin: 0; /* Убираем любые отступы */
}

.arrow-icon:hover {
  transform: translateY(10px);
}

.arrow_a {
  display: inline-block; /* Устанавливает ширину и высоту под размер содержимого */
  margin-top: 130px;
  margin-left: 160px;
}

.arrow1 {
  opacity: 0;
  animation: arrow 0.8s ease-in-out 1s forwards;
}

.up {
  top: 100px;
}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-910px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes textPop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes opacityBg {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.recommendations-title {
  font-family: "Playfair Display", serif;
  font-size: 100px;
  color: #5e1136;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 83px;
  animation: fadeInUp 1.5s ease-in-out;
  animation-play-state: paused;
}

.film-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  animation: zoomIn 1.2s ease-in-out;
}
/*
.film-placeholder {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  user-select: none;
  pointer-events: none;
}*/

.film-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.film-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.film-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.film-genre,
.film-type,
.film-duration,
.film-series {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.show-more-button {
  font-family: "Montserrat", sans-serif;
  background-color: #e9738f;
  color: white;
  border: none;
  padding: 25px 50px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  margin: 40px auto 83px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.7s ease;
  animation: fadeIn 1s ease-in-out;
}

.show-more-button:hover {
  background-color: #c9506c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-prompt {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #808080;
  margin-bottom: 42px;
  justify-content: center;
  animation: fadeInUp 1.5s ease-in-out;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px auto;
  width: 100%;
}

.login-img {
  user-select: none;
  pointer-events: none;
  width: 1128px;
  animation: zoomIn 1.2s ease-in-out;
}

.login-promt-button {
  display: inline-block;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 35px;
  padding: 25px 50px;
  background-color: #e9738f;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.7s ease;
  animation: fadeIn 1s ease-in-out;
  visibility: visible;
}

.login-promt-button:hover {
  background-color: #c9506c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.collapse-button {
  font-family: "Montserrat", sans-serif;
  background-color: #e9738f;
  color: white;
  border: none;
  padding: 25px 50px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  margin: 40px auto 83px;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.7s ease;
  animation: fadeIn 1s ease-in-out;
}

.collapse-button:hover {
  background-color: #c9506c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.white-block1 {
  width: 100%;
  height: 128px;
  background-color: #fafafa;
  margin: 0 auto;
  box-sizing: border-box;
}

.check-rst {
  animation: fadeInUp 1.5s ease-in-out;
}

.check-button {
  position: relative;
  color: #e9738f;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 40px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.check-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #e9738f;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.check-button:hover::after {
  width: 100%;
  left: 0;
}

.check-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e9738f;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.check-button:hover::before {
  transform: scaleX(1);
}

/* Общие стили для модальных окон */
.modal {
  font-family: "Montserrat", sans-serif;
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1000; /* Поверх всего */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Если контент слишком большой */
  background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный черный фон */
  backdrop-filter: blur(4px); /* Размытие фона */
}

/* Контейнер для контента модального окна */
.modal-content {
  position: relative;
  background-color: #fafafa;
  margin: 15% auto; /* Центрирование по вертикали и горизонтали */
  padding: 30px 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: fadeInDown 0.3s ease-out;
}

/* Анимации */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Стили для кнопки закрытия */
.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.modal-content .close:hover {
  color: #333;
  text-shadow: 0px 0px 1px #555;
  transform: scale(1.03); /* Опционально, для увеличения размера */
}

/* Стили формы внутри модального окна */
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Стили для текста и меток */
.modal-content label {
  font-size: 18px;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

/* Поля ввода */
.modal-content input[type="text"],
.modal-content select {
  font-family: "Montserrat", sans-serif;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  color: #555;
  background: #fdfdfd;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Стили для полей с плейсхолдерами */
.modal-content select::placeholder {
  color: #aaa;
  font-style: italic;
}

.modal-content input[type="text"]:focus,
.modal-content select:focus {
  border-color: #e9738f;
  outline: none;
  background: #fff;
  box-shadow: 0 0 5px rgba(233, 115, 143, 0.5);
}

/* Кнопки */
.modal-content button {
  width: 200px;
  padding: 15px;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #e9738f;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.7s ease;
}

.button-add {
  text-align: center;
  margin-top: 10px;
}

button:hover {
  background-color: #c9506c;
  transform: scale(1.05); /* Увеличение кнопки при наведении */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #a73b56;
  transform: scale(1); /* Сжатие при нажатии */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s ease, box-shadow 0.1s ease,
    transform 0.1s ease;
}

.heart-icon {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute; /* Абсолютное позиционирование */
  bottom: 20px; /* Отступ от нижнего края */
  right: 20px; /* Отступ от правого края */
}

.heart-icon-image {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
}

.heart-icon:hover .heart-icon-image {
  transform: scale(1.1);
}

/* Анимация для активного состояния */
.heart-icon.active .heart-icon-image {
  animation: pulse-darken 1s ease-in-out;
}

/* Ключевые кадры анимации */
@keyframes pulse-darken {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.1);
    filter: brightness(0.9);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

/* Анимация для удаления (плавный переход из залитого в контур) */
.heart-icon.removing .heart-icon-image {
  animation: fade-to-outline 1s ease-in-out;
}

/* Ключевые кадры для перехода */
@keyframes fade-to-outline {
  0% {
    transform: scale(1);
    filter: brightness(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.9);
    filter: brightness(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
    opacity: 1;
  }
}

/*.genre-wheel-section {
  text-align: center;
  margin: 30px 0;
}

.wheel-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  border: 5px solid #000;
  overflow: hidden;
  transform-origin: center;
  background: linear-gradient(135deg, #f9f9f9, #ddd);
}

.wheel-segment {
  position: absolute;
  width: 50%;
  height: 50%;
  background: rgba(255, 255, 255, 0.9);
  transform-origin: bottom center;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 3;
}

.wheel-segment span {
  display: block;
  transform: rotate(-90deg);
}

.spin-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#spin-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50%;
  border: none;
  background-color: #ff5722;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}*/


