/* Общие стили для страницы */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-image: url(../images/Фон\ вход.jpg);
  color: #333;
}

/* Шапка */
.header {
  background-color: #5e1136;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-link {
  display: inline-block; /* Устанавливаем блочный контекст */
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  line-height: 0; /* Убираем лишние промежутки */
  text-decoration: none; /* Убираем подчеркивание */
  border: none; /* Убираем возможную рамку */
  transition: opacity 0.5s ease, transform 0.3s ease;
}

.logo-link:hover {
  transform: scale(1.03); /* Опционально, для увеличения размера */
  opacity: 0.8;
}

/* Контейнер шапки */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1158px;
  max-width: 100%;
  padding: 0 6px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Логотип */
.logo {
  user-select: none;
  pointer-events: none;
  animation: slideDown 1s ease-in-out;
}

/* Кнопка "Назад" */
.back-button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 11px 24px;
  border: 2px solid white;
  border-radius: 30px;
  transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.7s ease,
    transform 0.3s ease;
  margin-right: 15px;
  animation: slideDown 1s ease-in-out;
}

.back-button:hover {
  color: #5e1136;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.content {
  max-width: 500px;
  margin: 250px auto;
  background: linear-gradient(135deg, #ffffff, #f4f6fa);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-in-out;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: #5e1136;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

/* Стили для полей формы */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  display: block;
  font-size: 18px;
  color: #333;
}

select {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fdfdfd;
  color: #555;
  width: 500px;
  transition: all 0.3s ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

select:focus {
  border-color: #e9738f;
  outline: none;
  background: #fff;
  box-shadow: 0 0 5px rgba(233, 115, 143, 0.5);
}

/* Кнопка отправки */
button {
  width: 300px;
  padding: 15px;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  background-color: #e9738f;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.7s ease;
}

button:hover {
  background-color: #c9506c;
  transform: scale(1.05); /* Увеличение кнопки при наведении */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #a73b56;
  transform: scale(1); /* Сжатие при нажатии */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s ease, box-shadow 0.1s ease,
    transform 0.1s ease;
}

/* Дополнительные стили для скрытых вопросов */
.d-none {
  display: none;
}

/* Анимация для появления формы */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(0);
  }
}

/* Стили для полей с плейсхолдерами */
select::placeholder {
  color: #aaa;
  font-style: italic;
}

.d-block {
  margin-top: 20px;
  visibility: visible;
  opacity: 1;
  animation: fadeInUp 1.5s ease-in-out;
}
